* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  /* max-width: auto; */
  height: 100vh;

}

.content {
  position: relative;
  max-width: 100vw;
  height: 100vh;
}

.tu {
  background: url(../img/tuscany.jpg);
  background-size: cover;
}

.ny{
  background: url(../img/ny.jpg);
  background-size: cover;
}

.ro {
  background: url(../img/bran.jpg);
  background-size: cover;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.city {
  position: absolute;
  font-size: 100px;
  text-shadow: 6px 6px 6px #999;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
